<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/60197413-5388-4cee-9623-139d8943a0f8/resourceGroups/CDC-Resources/providers/Microsoft.Web/sites/CDC-antss</ResourceId>
    <ResourceGroup>CDC-Resources</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://cdc-antss.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f611957e-5878-43b1-b65f-375b12170a1c</ProjectGuid>
    <PublishUrl>https://cdc-antss.scm.azurewebsites.net/</PublishUrl>
    <UserName>$CDC-antss</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>